{% extends "front/core.html" %}
{% block title %}Медицинская клиника ОшГУ{% endblock %}

{% block content %}
    <div class="ltn__utilize-overlay"></div>

    <!-- SLIDER AREA START (slider-3) -->
    <div class="ltn__slider-area ltn__slider-3  section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                 data-bs-bg="https://wallpaperset.com/w/full/b/f/a/455899.jpg">
                <div class="ltn__slide-item-inner  text-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span></span></h6>
                                        <h1 class="slide-title animated ">„Наука ли медицина, или всего лишь способ
                                            кормиться
                                            <br>за счёт человеческого невежества?“</h1>
                                        <div class="slide-brief animated">
                                            <p style="color: white">Гиппократ древнегреческий врач -460–-370 до н.э. О
                                                болезнях, О зависимости</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <!-- <a href="shop.html" class="theme-btn-1 btn btn-effect-1">Shop Now</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                 data-bs-bg="https://cdn.wallpapersafari.com/8/37/AcPoTn.jpg">
                <div class="ltn__slide-item-inner text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-video mb-50 d-none">
                                            <a class="ltn__video-icon-2 ltn__video-icon-2-border"
                                               href="https://www.youtube.com/embed/tlThdr3O5Qo"
                                               data-rel="lightcase:myCollection">
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                        <h6 class="slide-sub-title white-color--- animated"><span></span></h6>
                                        <h1 class="slide-title animated ">„Врач — философ; ведь нет большой разницы
                                            между мудростью и медициной.“</h1>
                                        <div class="slide-brief animated">
                                            <p>Гиппократ древнегреческий врач -460–-370 до н.э. О мудрости</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <!-- <a href="shop.html" class="theme-btn-1 btn btn-effect-1">Shop Now</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                 data-bs-bg="https://cdn.wallpapersafari.com/53/55/F7B3sC.jpg">
                <div class="ltn__slide-item-inner  text-right text-end">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span></span></h6>
                                        <h1 class="slide-title animated ">„Медицина заставляет нас умирать
                                            продолжительнее и мучительнее.“</h1>
                                        <div class="slide-brief animated">
                                            <p>Плутарх древнегреческий философ, биограф, моралист 46–127</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <!-- <a href="shop.html" class="theme-btn-1 btn btn-effect-1">Shop Now</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!-- SLIDER AREA END -->

    <!-- CATEGORY AREA START -->
    <div class="ltn__category-area section-bg-1-- pt-50 pb-90">
        <div class="container">
            <div class="row ltn__category-slider-active-six slick-arrow-1 border-bottom">
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-notes-medical"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6>Точный диогноз</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-box-tissue"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Подушечки микробов</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-pump-medical"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Аксессуары</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-bong"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Медицинская шапочка</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-tooth"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Стоматологический пункт</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-microscope"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Лучшие предложения</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-syringe"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Все продукты</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-stethoscope"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Подушечки микробов</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-hand-holding-medical"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Аксессуары</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-6 text-center">
                        <div class="ltn__category-item-img">
                            <a>
                                <i class="fas fa-procedures"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h6><a>Медицинская шапочка</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CATEGORY AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-25 pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="https://base.oshsu.kg/resurs/images/original/JPEG-20221202094207-almaida.jpeg"
                         alt="About Us Image">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us</h6>
                        <h1 class="section-title">Иметова Жазгуль Букарбаевна</h1>
                        <p>„Врач должен обладать хорошей памятью. Он должен помнить все лекарственные средства, которые
                            прописывал больным, и помнить, какое действие они оказывали на каждого больного, в
                            зависимости от особенностей его самого и болезни. Это составляет в медицине начало, середину
                            и конец.“</p>
                    </div>
                    <div class="about-author-info-2 border-top mt-30 pt-20">
                        <ul>
                            <li>
                                <div class="about-author-info-2-brief  d-flex">
                                    <div class="author-name-designation">
                                        <h4 class="mb-0">Иметова Жазгуль</h4>
                                        <small>Директор</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="about-author-info-2-contact  d-flex">
                                    <div class="about-contact-icon d-flex align-self-center mr-10">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="about-author-info-2-contact-info">
                                        <small>Телефон</small>
                                        <h6 class="mb-0">+996 777 77 77 77</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- </div> -->
    <!-- ABOUT US AREA END -->

    <!-- BANNER AREA START -->
    <div class="ltn__banner-area mt-120---">
        <div class="container">
            <div class="row ltn__custom-gutter--- justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <img src="https://base.oshsu.kg/univer/temp/url/uk/DSC_5629.jpg"
                                 alt="Banner Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <img src="https://base.oshsu.kg/univer/temp/url/uk/clinic.jpg"
                                 alt="Banner Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <img src="https://base.oshsu.kg/resurs/images/original/JPG-20221222122547-almaida.jpg"
                                 alt="Banner Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->

    <!-- COUNTDOWN AREA START -->
    <div class="ltn__call-to-action-area section-bg-1 bg-image pt-120 pb-120 container"
         data-bs-bg="https://sf.gov/sites/default/files/styles/default/public/2021-11/GettyImages-1316865376.jpg?itok=6SS3orpr">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="call-to-action-inner text-color-white--- text-center---">
                        <div class="section-title-area ltn__section-title-2--- text-center---">
                            <h6 class="ltn__secondary-color">Новости дня</h6>
                            <h1 class="section-title">COVID-19</h1>
                            <p>Статистика в мире</p>
                        </div>
                        <!-- <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2021/12/28"></div> -->
                        <div class="btn-wrapper animated">
                            <a href="https://www.unicef.org/kyrgyzstan/ru/%D0%BA%D0%BE%D1%80%D0%BE%D0%BD%D0%B0%D0%B2%D0%B8%D1%80%D1%83%D1%81-covid-19-%D1%87%D1%82%D0%BE-%D0%BD%D0%B5%D0%BE%D0%B1%D1%85%D0%BE%D0%B4%D0%B8%D0%BC%D0%BE-%D0%B7%D0%BD%D0%B0%D1%82%D1%8C-%D1%80%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8F%D0%BC" class="theme-btn-1 btn btn-effect-1 text-uppercase">читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- <img src="img/banner/15.png" alt="#"> -->
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTDOWN AREA END -->
    <br>
    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area section-bg-1 bg-image-left-before pt-115 pb-115 container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left---">

                    </div>
                </div>
                <div class="col-lg-6 align-self-center ">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2--- ltn__secondary-color">О клинике</h6>
                            <h1 class="section-title">Самая длительная операция проведенная в клинике</h1>
                            <p>Операция на мозг, удаления опухоль.<br> Проведено в 2016 году, 5-сентября</p>
                        </div>
                        <ul class="ltn__list-item-half clearfix">
                            <li>
                                <i class="flaticon-home-2"></i>
                                Первая операция
                            </li>
                            <li>
                                <i class="flaticon-mountain"></i>
                                Успешная
                            </li>
                            <li>
                                <i class="flaticon-heart"></i>
                                Ордены
                            </li>
                            <li>
                                <i class="flaticon-secure"></i>
                                Сдоровый
                            </li>
                        </ul>
                        <div class="btn-wrapper animated">
                            <a href=""
                               class="ltn__secondary-color text-uppercase text-decoration-underline">Читать дальше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area bg-overlay-white-90--- bg-image pt-115 pb-110 d-none" data-bs-bg="img/bg/26.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <!-- <img src="img/others/7.png" alt="About Us Image"> -->
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2--- ltn__secondary-color">N95 Facial Covering
                                Mask</h6>
                            <h1 class="section-title">Grade A Safety Masks
                                For Sale. Haurry Up!</h1>
                            <p>Over 39,000 people work for us in more than 70 countries all over the
                                This breadth of global coverage, combined with specialist services</p>
                        </div>
                        <ul class="ltn__list-item-half clearfix">
                            <li>
                                <i class="flaticon-home-2"></i>
                                Activated Carbon
                            </li>
                            <li>
                                <i class="flaticon-mountain"></i>
                                Breathing Valve
                            </li>
                            <li>
                                <i class="flaticon-heart"></i>
                                6 Layer Filteration
                            </li>
                            <li>
                                <i class="flaticon-secure"></i>
                                Rewashes & Reusable
                            </li>
                        </ul>
                        <div class="btn-wrapper animated">
                            <a href="service.html"
                               class="ltn__secondary-color text-uppercase text-decoration-underline">View Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->


    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area section-bg-1 mt-90 pt-30 pb-30 mt--65---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__feature-item-box-wrap-2 ltn__border--- section-bg-1">
                       
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="https://www.iconpacks.net/icons/2/free-icon-click-2399.png" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>3 месяца</h4>
                                <p>Тестирование</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="https://www.iconpacks.net/icons/2/free-icon-click-2399.png" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Высщие</h4>
                                <p>Безопасность</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="https://www.iconpacks.net/icons/2/free-icon-click-2399.png" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Автоматизированные</h4>
                                <p>Запросы</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- BLOG AREA START (blog-3) -->
    <div class="ltn__blog-area pt-115 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        
                        <h1 class="section-title">Новости и блоги</h1>
                    </div>
                </div>
            </div>
            <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
                <!-- Blog Item -->

                <!-- Blog Item -->
                {% for article in article %}
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            {#                        img#}
                            <div class="ltn__blog-img">
                                {% if article.photo %}
                                    <img src="{{ article.photo.url }}" alt="{{ article.title }}">
                                {% endif %}
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        {#                                    admin#}
                                        <li class="ltn__blog-author">
                                            <a href="#"><i class="far fa-user"></i>{{ article.author | title }}</a>
                                        </li>
                                    </ul>
                                </div>
                                {#                            title#}
                                <h3 class="ltn__blog-title"><a
                                        href="{% url 'article_detail' article.pk %}">{{ article.title|truncatewords:50 }}</a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            {#                                        date#}
                                            <li class="ltn__blog-date"><i
                                                    class="far fa-calendar-alt"></i>{{ article.date }}</li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        {#                                    button#}
                                        <a href="{% url 'article_detail' article.pk %}">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Blog Item -->

                <!--  -->
            </div>
        </div>
    </div>
    <!-- BLOG AREA END -->
{% endblock %}


