{% extends 'base.html' %}
{% block title %}Отделении{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-2">
            {% for i in inf %}
                <p class="fs-5 m-0 border rounded p-2 m-1"><a class="text-decoration-none fw-bold"
                                                              href="">{{ i.name }}</a></p>
            {% endfor %}
        </div>

        <div class="col-md-10">
            <a class="text-decoration-none fw-bold fw-bold fs-4" href="{% url 'departament' %}">Назад</a>
            {% for i in info %}
                <p class="display-5">{{ i.name }}</p>
                {% if object.photo %}
                    <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
                {% endif %}
                {{ i.info|safe }}
            {% endfor %}

            <h3>Наши врачи</h3>

            <div class="row">
                <div class="col-md-4 card">
                    {% for el in doc %}
                        <img class="card-img-top rounded mt-3" src="{{ el.img.url }}" alt="{{ el.name }}">
                        <div class="card-body">
                        <h4 class="card-title">{{ el.name }}</h4>
                        <h4>{{ el.first_name }}</h4>
                        <h4>{{ el.phone }}</h4>
                            <a href=""><button class="btn btn-info">Записатся на прием</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}